/* General */
.section-container {
	width      : 90%;
	margin     : 0 auto;
	padding    : 1em 0;
	color      : #afafaf;
	transition : all 0.5s ease-in;
}

.section-header {
	background-color : #393939;
	color            : var(--TextColorLight);
	border-radius    : 20px;
	padding          : 10px 20px;
	margin-top       : 20px;
	margin-bottom    : 20px;
	border-bottom    : 5px solid color-mix(in SRGB, var(--RedAccent1), transparent 20%);
	border-top       : 3px solid color-mix(in SRGB, var(--GreyAccent1), transparent 20%);
	border-right     : 2px solid color-mix(in SRGB, var(--RedAccent1), transparent 40%);
	border-left      : 3px solid color-mix(in SRGB, var(--GreyAccent1), transparent 20%);
	font-size        : 1.2em;
}

.section-subheading {
	display         : flex;
	justify-content : left;
	width           : max-content;
	font-size       : 0.8em;
	font-weight     : bold;

	margin           : auto 2em;
	padding-top      : 0.8em;
	padding-bottom   : 0.8em;
	padding-left     : 2em;
	padding-right    : 2em;
	border-radius    : 20px;
	background-color : #393939;
	box-shadow       : 0 2px 4px rgba(0, 0, 0, 0.1);
	color            : #afafaf;

	margin-left   : 5%;
	margin-right  : 5%;
	margin-top    : 1em;
	margin-bottom : 1em;
	border-bottom : 2px solid color-mix(in SRGB, var(--GreyAccent1), transparent 10%);
	border-top    : 4px solid color-mix(in SRGB, var(--RedAccent1), transparent 70%);
	border-right  : 4px solid color-mix(in SRGB, var(--RedAccent1), transparent 70%);
	border-left   : 3px solid color-mix(in SRGB, var(--GreyAccent1), transparent 10%);
}

h1.section-subheading {
	font-size : 0.8em;
}

h2.section-subheading {
	font-size     : 0.75em;
	border-bottom : 2px solid color-mix(in SRGB, var(--GreyAccent1), transparent 10%);
	border-top    : 2px solid color-mix(in SRGB, var(--GreyAccent1), transparent 50%);
	border-right  : 2px solid color-mix(in SRGB, var(--GreyAccent1), transparent 50%);
	border-left   : 3px solid color-mix(in SRGB, var(--GreyAccent1), transparent 10%);
	padding-left  : 1em;
	padding-right : 1em;
	border-radius : 20px;
}

h3.section-subheading {
	font-size     : 0.7em;
	border-bottom : none;
	border-top    : none;
	border-right  : none;
	border-left   : none;
	border-radius : 20px;
	padding-left  : 1em;
	padding-right : 1em;
}

.section-line {
	display         : flex;
	justify-content : center;
	height          : 3px;
	margin-top      : 1.5em;
	margin-bottom   : 1.5em;
	background      : linear-gradient(to right,
			var(--RedAccent1) 0%,
			var(--GreyAccent1) 10%,
			var(--GreyAccent1) 90%,
			var(--RedAccent1) 100%);
	opacity : 80%;
}

.section-paragraph {
	font-size     : 0.95em;
	margin-bottom : -5px;
}

/* Main Sections */
.about-me,
.languages-tools,
.projects {
	padding        : 0;
	padding-bottom : 1em;
	text-align     : center;
	font-size      : 1.2em;
	width          : 80%;
	max-width      : 960px;
	margin         : 1em auto;
	background     : #222;
	border-radius  : 30px;
	box-shadow     : 0 4px 16px rgba(0, 0, 0, 0.4);
	border         : none;
	color          : var(--TextColorLight);
	transition     : all 0.8s ease-out;
}

@media (hover: hover) {

	.about-me:hover,
	.languages-tools:hover,
	.projects:hover {
		background : #323232;
		box-shadow : 10px 10px 10px rgba(0, 0, 0, 0.5);
		transition : all 0.2s ease-in;
	}
}

@media (hover : none) {

	.about-me.active,
	.languages-tools.active,
	.projects.active {
		background : #323232;
		box-shadow : 10px 10px 10px rgba(0, 0, 0, 0.5);
		transition : all 0.2s ease-in;
	}
}


/* About Me */
.about-me p {
	padding-top    : 0em;
	padding-bottom : 0em;
	padding-right  : 1em;
	padding-left   : 1em;
	color          : #afafaf;
	border-radius  : 10px;
	text-shadow    : #121212 3px 3px 10px;

}

.about-me-content {
	border-top     : 1px solid color-mix(in SRGB, var(--GreyAccent2), transparent 10%);
	border-bottom  : 1px solid color-mix(in SRGB, var(--GreyAccent2), transparent 50%);
	border-right   : 1px solid color-mix(in SRGB, var(--GreyAccent2), transparent 50%);
	border-left    : 2px solid color-mix(in SRGB, var(--GreyAccent2), transparent 10%);
	border-radius  : 30px;
	padding-top    : 1em;
	padding-bottom : 1.2em;
}


.profile-info {
	display         : flex;
	justify-content : center;
	align-items     : center;
	width           : max-content;
	margin-left     : auto;
	margin-right    : auto;
	margin-bottom   : 2em;
	padding         : 1em;
	border-top      : 2px solid var(--GreyAccent1);
	border-bottom   : 2px solid var(--GreyAccent1);
	border-right    : 2px solid var(--GreyAccent1);
	border-left     : 2px solid var(--GreyAccent1);
	border-radius   : 30px;
}

.profile-description {
	display      : block;
	padding-left : 1em;
}

.profile-name {
	font-size  : 32px;
	text-align : center;
	display    : block;
}

.profile-field {
	font-size  : 16px;
	text-align : center;
	display    : block;
}

.profile-picture {
	width           : 100px;
	height          : 100px;
	border-radius   : 50%;
	border          : 2px solid #afafaf;
	background-size : cover;
}


/* Languages and Tools */
.language-grid,
.tool-grid {
	display               : grid;
	grid-template-columns : repeat(3, 1fr);
	gap                   : 1em;
}

.grid-item {
	display          : flex;
	align-items      : center;
	margin-bottom    : 0.2em;
	padding          : 0.5em;
	background-color : #2a2a2a;
	color            : var(--TextColorLight);
	border-radius    : 20px;
	transition       : all 0.8s ease-out;
	box-shadow       : 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (hover: hover) {
	.grid-item.inactive:hover {
		background : #202020;
		transform  : translateX(5px);
		box-shadow : 5px 5px 10px rgba(0, 0, 0, 0.5);
		transition : all 0.2s ease-in;
	}
}

@media (hover : none) {
	.grid-item.active {
		background : #202020;
		transform  : translateX(5px);
		box-shadow : 5px 5px 10px rgba(0, 0, 0, 0.5);
		transition : all 0.2s ease-in;
	}
}

.grid-item i {
	display      : inline-block;
	margin-right : 1em;
	width        : 30px;
	height       : 30px;
	object-fit   : contain;
}

.language-name,
.tool-name {
	font-size   : 0.8em;
	font-weight : 600;
}

/* Projects */
.project {
	margin-bottom    : 1em;
	padding          : 2em;
	padding-left     : 1em;
	padding-right    : 1em;
	padding-top      : 1.5em;
	padding-bottom   : 1.5em;
	background-color : #2a2a2a;
	border-radius    : 30px;
	box-shadow       : 5px 10px 5px rgba(10, 10, 10, 0.4);
	transition       : all 0.8s ease-out;
	border           : none;
	color            : var(--TextColorLight);
}

.project-content {
	border-top     : 1px solid color-mix(in SRGB, var(--GreyAccent2), transparent 10%);
	border-bottom  : 1px solid color-mix(in SRGB, var(--GreyAccent2), transparent 50%);
	border-right   : 1px solid color-mix(in SRGB, var(--GreyAccent2), transparent 50%);
	border-left    : 2px solid color-mix(in SRGB, var(--GreyAccent2), transparent 10%);
	border-radius  : 30px;
	padding-top    : 1em;
	padding-bottom : 1.2em;
}

.project-headers {
	border-bottom : 4px solid #4f4f4f;
	margin-top    : 0em;
	margin-bottom : 1em;
	margin-right  : 2em;
	margin-left   : 2em;
}

.project h4,
.project a {
	font-size        : 1em;
	display          : inline-block;
	padding-top      : 0.8em;
	padding-bottom   : 0.8em;
	padding-left     : 1em;
	padding-right    : 1em;
	border-radius    : 50px;
	background-color : #393939;
	margin-right     : 10px;
	box-shadow       : 0 2px 4px rgba(0, 0, 0, 0.1);
	color            : #afafaf;
	margin-top       : 0;
	margin-bottom    : 20px;
	border-top       : 3px solid color-mix(in SRGB, var(--GreyAccent1), transparent 10%);
	border-bottom    : 2px solid color-mix(in SRGB, var(--GreyAccent1), transparent 50%);
	border-right     : 2px solid color-mix(in SRGB, var(--GreyAccent1), transparent 50%);
	border-left      : 3px solid color-mix(in SRGB, var(--GreyAccent1), transparent 10%);
}

.project p {
	padding-top    : 0em;
	padding-bottom : 0em;
	padding-right  : 1em;
	padding-left   : 1em;
	color          : #afafaf;
	text-align     : left;
	border-radius  : 10px;
	text-shadow    : #121212 3px 3px 10px;
}


@media (hover: hover) {
	.project:hover {
		background : #202020;
		transform  : translateX(5px);
		box-shadow : 5px 5px 10px rgba(0, 0, 0, 0.5);
		transition : all 0.2s ease-in;
	}
}

@media (hover : none) {
	.project.active {
		background : #202020;
		transition : all 0.2s ease-in;
	}
}

.project a:hover {
	background : #505050;
	box-shadow : 0 5px 7px rgba(0, 0, 0, 0.15);
	transition : all 0.2s ease-in;
}

.table-container {
	display         : flex;
	justify-content : center;
	margin-top      : 20px;
	border-radius   : 10px;
	overflow        : hidden;
}

th {
	display          : flex;
	justify-content  : center;
	font-size        : 0.8em;
	font-weight      : bold;
	padding-top      : 0.5em;
	padding-bottom   : 0.5em;
	padding-left     : 1em;
	padding-right    : 1em;
	border-radius    : 20px;
	background-color : #393939;
	margin-right     : 10px;
	box-shadow       : 0 2px 4px rgba(0, 0, 0, 0.1);
	color            : #afafaf;
	margin-top       : 0px;
	margin-bottom    : 10px;
	margin-left      : 2em;
	margin-right     : 2em;
}

td {
	display          : flex;
	justify-content  : center;
	font-size        : 0.8em;
	padding-top      : 0.8em;
	padding-bottom   : 0.8em;
	padding-left     : 2em;
	padding-right    : 2em;
	border-radius    : 30px;
	background-color : #393939;
	margin-right     : 10px;
	box-shadow       : 0 2px 4px rgba(0, 0, 0, 0.1);
	color            : #afafaf;
	margin-top       : 0px;
	margin-bottom    : 10px;
	margin-left      : 2em;
	margin-right     : 2em;
}

img {
	max-width     : 100%;
	margin-top    : 10px;
	margin-bottom : 10px;
}

/* Footer */
footer {
	display             : flex;
	flex-direction      : column;
	justify-content     : center;
	align-items         : center;
	background          : linear-gradient(120deg, #202020 0%, #252525 100%);
	text-shadow         : #121212 3px 3px 10px;
	color               : var(--ProjectTextColor);
	border-top          : 2px solid color-mix(in SRGB, var(--GreyAccent1), transparent 10%);
	border-right        : 2px solid color-mix(in SRGB, var(--GreyAccent1), transparent 50%);
	border-left         : 2px solid color-mix(in SRGB, var(--GreyAccent1), transparent 10%);
	border-bottom       : 2px solid color-mix(in SRGB, var(--GreyAccent1), transparent 50%);
	border-radius       : 20px;
	padding             : 20px;
	padding-top         : 8px;
	padding-bottom      : 8px;
	width               : 80%;
	max-width           : 960px;
	font-size           : 0.95em;
	bottom              : 0;
	left                : 0;
	margin-bottom       : 1em;
	filter              : drop-shadow(0 4px 6px rgba(0, 0, 0, 0.5));
	backface-visibility : hidden;
}

footer a {
	color           : #f88d84;
	text-decoration : none;
	transition      : color 0.3s ease-in-out, transform 0.3s ease-in-out;
	position        : relative;
}

footer a:hover {
	color     : white;
	transform : scale(1.05);
}