* {
	margin                : 0;
	padding               : 0;
	box-sizing            : border-box;
	-webkit-touch-callout : default;
}

body {
	font-family    : 'Montserrat', Arial, sans-serif;
	line-height    : 1.6;
	background     : linear-gradient(120deg, var(--BackgroundDark1) 0%, var(--BackgroundDark2) 100%);
	color          : var(--TextColorLight);
	font-size      : 16px;
	min-height     : 100vh;
	display        : flex;
	flex-direction : column;
	align-items    : center;
}

header {
	background    : var(--HeaderBackground);
	color         : var(--HeaderColor);
	text-align    : center;
	padding       : 2em 0;
	margin-bottom : 2em;
	font-size     : 2.5em;
	font-weight   : 300;
	width         : 80%;
	border-radius : 15px;
	border        : none;
}

br1::before {
	content : "";
	display : block;
	height  : 0em;
}

a {
	color           : var(--RedAccent1);
	text-decoration : none;
}

a:hover {
	color           : var(--LinkHoverColor);
	text-decoration : underline;
}