@media screen and (max-width: 800px),
screen and (max-height: 800px) {

	.language-grid,
	.tool-grid {
		grid-template-columns : repeat(2, 1fr);
	}

	.navigation-bar li {
		font-size : 85%;
	}

	.section-container {
		width     : 90%;
		padding   : 0 0;
		font-size : 80%;
	}

	.sidebar.inactive {
		left : -282px;
	}

	.section-header {
		font-size : 1em;
	}

	.projects h4 {
		font-size : 0.8em;
	}

	.projects a {
		font-size : 0.8em;
	}

	.languages-tools span {
		font-size : 0.8em;
	}

	.sidebar-header {
		font-size : 0.8em;
	}

	.sidebar a {
		font-size : 0.8em;
	}
}


@media screen and (max-width: 550px) {
	.profile-name {
		font-size  : 24px;
		text-align : center;
		display    : block;
	}

	.profile-field {
		font-size  : 14px;
		text-align : center;
		display    : block;
	}
}


@media screen and (max-width: 450px),
screen and (max-height: 450px) {
	.sidebar.inactive {
		left : -286px;
	}

	.about-me,
	.languages-tools,
	.projects,
	.top-bar {
		width : 85%;
	}

	.profile-picture {
		width  : 80px;
		height : 80px;
	}
}

@media screen and (max-width: 400px) {
	.navigation-bar li {
		font-size : 75%;
	}

	.navigation-bar a {
		padding-left  : 8px;
		padding-right : 8px;
	}

	.navigation-bar a.active {
		border-radius : 15px;
	}

	.profile-picture {
		width  : 60px;
		height : 60px;
	}

	.profile-info {
		padding : 0.8em;
	}
}