/* Setting Transitions */
.language-grid,
.tool-grid {
	transition : all 0.5s ease-in;
}

.navigation-bar a {
	transition : background-color 0.5s;
}

.navigation-bar li {
	transition : all 0.5s ease-in;
}

.container {
	transition : all 0.5s ease-in;
}

.sidebar {
	transition : left 0.5s;
	transition : all 0.3s ease-in;
}

.sidebar-tab {
	transition : all 0.5s ease-in;
}

.toc-marker path {
	transition : all 0.3s ease-in-out;
}

.section-header {
	transition : all 0.5s ease-in;
}

.section-paragraph {
	transition : all 0.5s ease-in;
}

.projects h4 {
	transition : all 0.5s ease-in;
}

.projects a {
	transition : all 0.5s ease-in;
}

.languages-tools span {
	transition : all 0.5s ease-in;
}

.sidebar-header {
	transition : all 0.5s ease-in;
}

.sidebar a {
	transition : all 0.5s ease-in;
}

.table-of-contents li a {
	transition : all 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000);
}

.project {
	transition : all 0.8s ease-out;
}

.project:hover {
	transition : all 0.3s ease-in;
}

.project a:hover {
	transition : all 0.3s ease-in;
}

.about-me,
.projects,
.languages-tools {
	transition : all 0.8s ease-out;
}

.language-item:hover,
.tool-item:hover {
	transition : all 0.2s ease-in;
}

.language-item,
.tool-item {
	transition : all 0.8s ease-out;
}

.about-me:hover,
.projects:hover,
.languages-tools:hover {
	transition : all 0.2s ease-in;
}