:root {
	--SideBarWidth            : 14em;
	--SideBarPaddingLeft      : 3em;
	--RedAccent1              : #cd5c5c;
	--GreyAccent1             : #f3eed9c4;
	--GreyAccent2             : #a5a5a5;
	--GreyBlueAccent1         : #282c34;
	--BackgroundDark1         : #121212;
	--BackgroundDark2         : #171717;
	--TextColorLight          : #f5f5f5;
	--HeaderBackground        : #282c34;
	--HeaderColor             : #fff;
	--LinkHoverColor          : #16a085;
	--ProjectBackgroundHover  : #505050;
	--SectionHeaderBackground : #393939;
	--SidebarHeaderBackground : #393939;
	--ProjectBackground       : #2a2a2a;
	--ProjectTextColor        : #afafaf;
	--AboutMeBackground       : #222;
	--LanguageItemBackground  : #2a2a2a;
	--SidebarBackground       : #191919;
	--TopBarBackground        : #191919;
	--NavigationBarColor      : #c8c8c8;
}