
.devicon-python-plain:before,
.devicon-rust-plain:before,
.devicon-cpp-plain:before,
.devicon-c-plain:before,
.devicon-java-plain:before,
.devicon-sqlite-plain:before,
.devicon-vscode-plain:before,
.devicon-intellij-plain:before,
.devicon-vtune-plain:before,
.devicon-sqlalchemy-plain:before,
.devicon-docker-plain:before {
	content: "";
	background-size: contain;
	display: inline-block;
	width: 100%;
	height: 100%;
}

.devicon-python-plain:before {
	background-image: url("/images/icons/python-icon.svg");
}

.devicon-rust-plain:before {
	background-image: url("/images/icons/rust-icon.png");
}

.devicon-cpp-plain:before {
	background-image: url("/images/icons/cplusplus-icon.svg");
}

.devicon-c-plain:before {
	background-image: url("/images/icons/c-icon.svg");
}

.devicon-java-plain:before {
	background-image: url("/images/icons/java-icon.svg");
}

.devicon-sqlite-plain:before {
	background-image: url("/images/icons/sqlite-icon.svg");
}

.devicon-vscode-plain:before {
	background-image: url("/images/icons/vscode-icon.svg");
}

.devicon-intellij-plain:before {
	background-image: url("/images/icons/intellij-idea-icon.png");
}

.devicon-vtune-plain:before {
	background-image: url("/images/icons/vtune-icon.png");
}

.devicon-sqlalchemy-plain:before {
	background-image: url("/images/icons/sqla-icon.png");
}

.devicon-docker-plain:before {
	background-image: url("/images/icons/docker-icon.svg");
}