* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--SideBarWidth: 14em;
	--SideBarPaddingLeft: 3em;
	--RedAccent1: #bf506c;
	--GreyAccent1: #909090;
	--GreyAccent2: #a5a5a5;
	--GreyBlueAccent1: #282c34;
}

body {
	font-family: 'Montserrat', Arial, sans-serif;
	line-height: 1.6;
	background: #101010;
	color: #f5f5f5;
	font-size: 16px;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}


header {
	background: #282c34;
	color: #fff;
	text-align: center;
	padding: 2em 0;
	margin-bottom: 2em;
	font-size: 2.5em;
	font-weight: 300;
	width: 80%;
	border-radius: 15px;
	border: none;
}


a {
	color: var(--RedAccent1);
	text-decoration: none;
}

a:hover {
	color: #16a085;
	text-decoration: underline;
}


.project a:hover {
	background: #505050;
	/* Slide item to the right */
	box-shadow: 0 5px 7px rgba(0, 0, 0, 0.15);
	transition: all 0.2s ease-in;
}

.section-header {
	background-color: #393939;
	color: #f5f5f5;
	border-radius: 15px;
	padding: 10px 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	border-right: 3px solid var(--RedAccent1);
}

.sidebar h4 {
	display: inline-block;
	margin-top: 0;
	margin-bottom: 1em;
	padding-left: 50px;
	padding-right: 50px;
}


.project {
	margin-bottom: 2em;
	padding: 2em;
	padding-top: 1.5em;
	padding-bottom: 2em;
	background-color: #2a2a2a;
	border-radius: 15px;
	box-shadow: 0 4px 16px rgba(0, 0, 0, 0.4);
	transition: all 0.8s ease-out;
	border: none;
	color: #f5f5f5;
}

.project:hover {
	background: #202020;
	transform: translateX(10px);
	box-shadow: 0 5px 7px rgba(0, 0, 0, 0.15);
	transition: all 0.2s ease-in;
}

.project h4,
.project a {
	font-size: 1em;
	display: inline-block;
	padding-top: 0.8em;
	padding-bottom: 0.8em;
	padding-left: 1em;
	padding-right: 1em;
	border-radius: 20px;
	background-color: #393939;
	margin-right: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	color: #afafaf;
	margin-bottom: 30px;
}

.project p {
	padding-top: 2em;
	padding-bottom: 2em;
	padding-right: 2em;
	padding-left: 2em;
	color: #afafaf;
	text-align: left;
	border-top: 4px solid #505050;
	border-bottom: 4px solid #505050;
	border-radius: 10px;
	text-shadow: #121212 3px 3px 10px;
}

.project-content {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1em;
	line-height: 1.4;
}

.about-me,
.projects,
.languages-tools {
	padding: 0em;
	padding-bottom: 1em;
	text-align: center;
	font-size: 1.2em;
	width: 80%;
	max-width: 960px;
	margin: 1em auto;
	background: #222;
	border-radius: 30px;
	box-shadow: 0 4px 16px rgba(0, 0, 0, 0.4);
	border: none;
	color: #f5f5f5;
	transition: all 0.8s ease-out;
}


.about-me:hover,
.projects:hover,
.languages-tools:hover {
	background: #2f2f2f;
	box-shadow: 0 6px 20px rgba(0, 0, 0, 0.5);
	transition: all 0.2s ease-in;
}

.container {
	width: 80%;
	margin: 0 auto;
	padding: 1em 0;
	color: #afafaf;
}

.language-grid,
.tool-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1em;
}

.language-item,
.tool-item {
	display: flex;
	align-items: center;
	margin-bottom: 0.2em;
	padding: 0.5em;
	background-color: #2a2a2a;
	color: #f5f5f5;
	border-radius: 20px;
	transition: all 0.8s ease-out;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.language-item:hover,
.tool-item:hover {
	background: #202020;
	transform: translateX(10px);
	box-shadow: 0 5px 7px rgba(0, 0, 0, 0.15);
	transition: all 0.2s ease-in;
}

.language-item i,
.tool-item i {
	display: inline-block;
	margin-right: 1em;
	width: 30px;
	height: 30px;
	object-fit: contain;
}

.language-name,
.tool-name {
	font-size: 0.8em;
	font-weight: 600;
}

.sidebar {
	position: fixed;
	left: 1em;
	top: 50%;
	transform: translateY(-50%);
	padding: 1.5em;
	height: 85%;
	width: 300px;
	background-color: #191919;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
	border-top: 3px solid var(--GreyAccent1);
	border-right: 3px solid var(--GreyAccent1);
	border-radius: 15px;
	z-index: 1000;
	transition: left 0.5s; /* Add transition effect */
}

@media (max-width: 1600px) {
	.sidebar {
		left: -280px;
	}

	.sidebar:hover {
		left: 1em;
	}
}

.table-of-contents ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.table-of-contents ul ul {
	padding-left: 2em;
}

.table-of-contents li a {
	display: inline-block;
	color: #777;
	text-decoration: none;
	transition: all 0.3s cubic-bezier(0.230, 1.000, 0.320, 1.000);
	padding: 0.5em;
}

.table-of-contents li.visible>a {
	color: #b5b5b5;
	font-weight: bold;
	border-left: 1px solid var(--GreyAccent2);
	transform: translateY(6px);
	padding-left: 0.5em;
}

.toc-marker {
	position: absolute;
	padding: 0em;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	pointer-events: none;
}

.toc-marker path {
	transition: all 0.4s ease;
	stroke: var(--RedAccent1);
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	transform: translateY(-12px);
}

.top-bar {
	background-color: #191919;
	padding: 30px 50px;
	border-bottom: 3px solid var(--GreyAccent1);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	width: 50%;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 80px;
}

.navigation-bar ul {
	list-style: none;
	display: flex;
}

.navigation-bar li {
	margin-right: 20px;
}

.navigation-bar a {
	text-decoration: none;
	color: #c8c8c8;
	font-weight: bold;
	padding: 5px 10px;
	border-radius: 5px;
	transition: background-color 1s;
}


.navigation-bar a:hover {
	background-color: var(--RedAccent1);
	padding: 10px
}


.devicon-python-plain:before,
.devicon-rust-plain:before,
.devicon-cpp-plain:before,
.devicon-c-plain:before,
.devicon-java-plain:before,
.devicon-sqlite-plain:before,
.devicon-vscode-plain:before,
.devicon-intellij-plain:before,
.devicon-vtune-plain:before,
.devicon-sqlalchemy-plain:before,
.devicon-docker-plain:before {
	content: "";
	background-size: contain;
	display: inline-block;
	width: 100%;
	height: 100%;
}

.devicon-python-plain:before {
	background-image: url("https://raw.githubusercontent.com/devicons/devicon/master/icons/python/python-original.svg");
}

.devicon-rust-plain:before {
	background-image: url("https://www.rust-lang.org/logos/rust-logo-512x512.png");
}

.devicon-cpp-plain:before {
	background-image: url("https://raw.githubusercontent.com/devicons/devicon/master/icons/cplusplus/cplusplus-original.svg");
}

.devicon-c-plain:before {
	background-image: url("https://raw.githubusercontent.com/devicons/devicon/master/icons/c/c-original.svg");
}

.devicon-sqlite-plain:before {
	background-image: url("https://raw.githubusercontent.com/devicons/devicon/1119b9f84c0290e0f0b38982099a2bd027a48bf1/icons/sqlite/sqlite-original.svg");
}

.devicon-intellij-plain:before {
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/9/9c/IntelliJ_IDEA_Icon.svg/1024px-IntelliJ_IDEA_Icon.svg.png");
}

.devicon-vtune-plain:before {
	background-image: url("https://www.intel.com/content/dam/develop/external/us/en/images/vtune-logo-oneapi-2021.png");
}

.devicon-sqlalchemy-plain:before {
	background-image: url("https://avatars.githubusercontent.com/u/6043126?v=4");
}

.devicon-java-plain:before {
	background-image: url("https://raw.githubusercontent.com/devicons/devicon/master/icons/java/java-original.svg");
}

.devicon-vscode-plain:before {
	background-image: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vscode/vscode-original.svg");
}

.devicon-docker-plain:before {
	background-image: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/docker/docker-original.svg");
}